body {
    font-family: 'Open Sans', sans-serif;
}

.head-block {
    height: auto;
    min-height: 700px;
    background-color: #2d3136;
}

.logo {
    text-align: center;
    top: 35px;
}

.logo img {
    width: 80%;
}

.contact_icon {
    text-align: center;
    top: 85px;
}

.contact_icon img {
    width: 80%;
}

form {
    color: #d7d7d7;
    font-size: 20px;
    margin-top: 100px;
}

#comment_1 {
    height: 194px;
}

iframe, .hidden {
    display: none;
}

.form-control {
    background-color: #2d3136;
    border: 1px solid #44484c;
    box-shadow: 0 0 !important;
    color: #d7d7d7;
    font-size: 17px;
    min-height: 58px;
    line-height: 1.4;
    cursor: pointer;
    margin-bottom: 43px;
}

.form-control:focus {
    border-color: #533337;
    cursor: text;
}

.asterisk {
    color: #be393b;
    font-size: 20px;
}

.button-box {

    height: 100px;
}

#box {

    float: right;
    height: 50px;
    width: 135px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    background-color: #cecece;
    line-height: 50px;
    text-align: center;
    cursor: default;
}

.button {
    border: 0 !important;
    float: right;
    height: 50px;
    width: 135px;
    font-size: 20px;
    font-weight: bold;
    background-color: #be393b;
    margin-bottom: 20px;
    display: none;
}

#button:hover, #button:active, #button:focus {
    background-color: #a23132 !important;
    outline: 0 !important;
}

.main-block {
    height: auto;
    min-height: 700px;
    background-color: #f6f6f7;
}

.header {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #4d5561;
    font-size: 24px;
    font-weight: bold;
}

.message-top {
    background-color: #4d5561;
    height: 48px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

.message-top span {
    line-height: 48px;
    color: #ffffff;
    font-size: 20px;
}

.message-bottom {
    background-color: #e9eef3;
    height: 190px;
    width: 90%;
    text-align: center;
    padding: 0 10px 0 10px;
    margin-left: 5%;
    margin-right: 5%;

    overflow: hidden;
}

.message-bottom p {
    height: 50px;
}

.message-mail {
    color: #6d737d;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
    word-wrap: normal;
}

.message-comment {
    color: #767582;
    font-size: 16px;
    word-wrap: break-word;
}

.message-body {
    height: 270px;
}

#msg {
    display: none;
    color: red;
    position: absolute;
}

.box::selection {
    background: transparent;
}

.box::-moz-selection {
    background: transparent;
}
