/* TODO сделать красивые названия классов */
.table_1, .table_3 {
    width: 800px;
    border: 0;
    border-spacing: 0;
}
.table_1 > tr > td, .table_3 > tr > td {
    padding: 8px;
}
.td_1, .td_2, .td_3, .td_4, .td_6, .td_7, .td_8 {
    text-align: center;
}
.td_3 {
    height: 34px;
}
.table_2 {
    border-spacing: 10px;
    border: 0;
}
.table_2 > tr > td {
    padding: 0;
}
.td_5 {
    width: 58px;
    height: 34px;
}
.td_6 {
    width: 58px;
    height: 20px;
}
.td_7 {
    height: 34px;
}
.div_1 {
    text-align: center;
}
.span_1 {
    color: #FFFFFF;
    font-size: 70%;
}