/* TODO поменять имена классов */
.td_15 {
    width:90px;
    text-align: center;
    background-image: url("/default/dis/kkjsfri95.png");
}
.tr_1 {
    vertical-align: top;
}
.td_16 {
    width: 980px;
    height: 67px;
    text-align: right;
    background-image: url("/default/dis/66asf88f.png");
}
.table_8 {
    border: 0;
    border-spacing: 3px;
}
.tr_2 {
    vertical-align: top;
}
.td_17 {
    padding: 5px;
    text-align: right;
}
.table_9 {
    width: 880px;
    border: 0;
    border-spacing: 0;
}
.table_9 td {
    padding: 0;
}
.tr_3 {
    vert-align: middle;
}
.td_18 {
    text-align: left;
    width: 300px;
}
.td_19 {
    text-align: center;
    width: 200px;
    height: 31px;
}
.td_20 {
    text-align: right;
    width: 380px;
}
#sTime {
    color: #808080;
}
.span_2 {
    color: #565656;
}
.table_10 {
    border: 0;
    border-spacing: 0;
}
.table_10 td {
    padding: 0;
}
.img_1 {
    position:absolute;
    left:-9999px;
}