body {
    background-image: url("/default/88d5logo.jpg");
    background-attachment: fixed;
    background-position:center top;
    width:100%;
    background-repeat:no-repeat;
}
.table_10 {
    width: 980px;
    border: 0;
    border-spacing: 0;
}
.table_10 > tr > td {
    padding: 0;
}
.tr_4 {
    vertical-align: bottom;
}
.td_21 {
    background-image: url("/default/dis/6655h.png");
    width: 980px;
    height: 188px;
    text-align: center;
}
.tr_5 {
    vertical-align: middle;
}
.td_22 {
    background-image: url("/default/dis/877me44d.png");
    width: 980px;
    height: 71px;
}
.div_2 {
    text-align: center;
}
.table_11 {
    width: 80%;
    border-spacing: 0;
}
.table_11 td {
    padding: 0;
}
.td_23 {
    text-align: center;
}
.td_24 {
    text-align: center;
    height: 4px;
}
.td_25 {
    background-image: url("/default/dis/ghle889.png");
    width: 90px;
}
.td_26 {
    background-image: url("/default/dis/back.png");
    width: 800px;
}