.table_4 {
    width: 800px;
    height: 29px;
    border: 0;
    border-spacing: 0;
}
.table_4 td {
    padding: 0;
    text-align: center;
}
.table_5 {
    width: 800px;
    height: 72px;
    border: 0;
    border-spacing: 0;
}
.table_5 td {
    padding: 0;
}
.td_9, .td_14 {
    height: 4px;
}
.td_10, .td_11 {
    width: 10px;
}
.td_12 {
    width: 4px;
}
.td_13 {
    width: 58px;
}
.td_13 img {
    height: 64px;
    width: 58px;
}
.table_6, #up table, .table_7 {
    width: 800px;
    border: 0;
    border-spacing: 0;
}
.table_6 td {
    padding: 0;
    height: 34px;
    text-align: center;
}
#up td {
    padding: 0;
    text-align: center;
}
.table_7 > tr > td {
    padding: 0;
}

